{% extends 'stark/layout.html' %}
{% block css %}
    <style>
    .temp span{
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid blue;
        margin: 2px;
    }
    </style>
{% endblock %}
{% block content %}
        <div  style="margin-top: 50px">

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">个人客户列表</div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th class="text-center">qq</th>
                            <th class="text-center">学员姓名</th>
                            <th class="text-center">咨询课程</th>
                            <th class="text-center">状态</th>

                        </tr>
                        </thead>

                        <tbody>

                        {% for row in customers %}
                            <tr>
                                <td>{{ row.customer.qq }}</td>
                                <td>{{ row.customer.name }}</td>
                                <td class="temp">{% for item in row.customer.course.all %}<span>{{ item }}</span>{% endfor %}</td>
                                <td>{{ row.get_status_display }}</td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <input type="submit" class="btn btn-primary pull-right" value = "保存">
                </form>
            </div>
            <div class="panel-footer text-center">
                <div class="bs-example" data-example-id="disabled-active-pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            {{ page_html|safe }}
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}